.footer {
    background-color: $darkGreen;
    color: $white;
    padding: 2.5rem;
    text-align: center;
    line-height: 1rem;
    
    a {
        color: $white;
    }


    &__cookie-pref {
        opacity: 55%;
        
    }
}