// Couleurs
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$lightGreen: hsl(119, 23%, 41%);
$darkGreen: hsl(140, 16%, 17%);
$brown: hsl(43, 23%, 41%);

// Tailles de police
$font-title: 6.4rem; // 64px
$font-lg: 4.0rem; // 40px
$font-med: 2.4rem; // 24px
$font-smed: 2.0rem; // 20px
$font-sm: 1.6rem; // 16px